<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Info - DirectShare</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <style>
        * {
            font-family: Poppins, cursive;
        }

        body {
            background-color: #1B262C;
            color: #3282B8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #heading {
            text-shadow: 0px 5px #0F4C75;
            font-size: 70px;
        }

        div {
            text-align: center;
            line-height: 2.25rem;
        }

        .btn, button {
            background-color: #3282B8;
            padding: 20px;
            outline: none;
            color: #1B262C;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            transform: translate(0px, 0px);
            box-shadow: 0px 5px #0F4C75;
            transition: 0.2s;
            cursor: pointer;
        }

        .btn:hover, button:hover {
            border-radius: 50px;
        }

        a {
            color: #3282B8 !important;
        }

        footer, .footer {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .left {
            float: left;
            margin-left: 100px;
        }

        .right {
            float: right;
            margin-right: 100px;
        }
    </style>
</head>

<body>
    <a style="text-decoration: none;" href="/"><h1 id="heading">DirectShare</h1></a>
    <div>
        <h2>About DirectShare</h2>
        <p>DirectShare is a simple web application used for sharing files quick and easy.</p>
        <h3>Team</h3>

        <div class="left">
            <img src="https://cdn.discordapp.com/avatars/576266898967363595/9a52fb77b36176a95c3e781f71ecf8f6.png?size=80" width="100px">
            <a
            href="https://github.com/lines-of-codes/" target="_blank"><h3>LinesOfCodes</h3></a>
        </div>

        <div class="right">
            <img src="https://avatars.githubusercontent.com/u/51789606?v=4" width="100px">
            <a
            href="https://github.com/TheDuckDev" target="_blank"><h3>Duckie</h3></a>
        </div>
    </div>
    <footer style="margin-top:40px;">
        <a href="info" target="_blank">Info</a>, 
        <a href="https://github.com/TheDuckDev/DirectShare" target="_blank">Github</a> | Made with &lt;3 from <a
            href="https://github.com/lines-of-codes/" target="_blank">LinesOfCodes</a> and <a
            href="https://github.com/TheDuckDev" target="_blank">Duckie</a>
    </footer>
</body>

</html>