<!DOCTYPE html>
<html>
  
<head>
    <title>File Share</title>
</head>
  
<body>
    <h1>File Share</h1>
   
    <form action="/uploaded" enctype="multipart/form-data" method="POST">
        <span>Send File:</span>
        <input type="file" name="mypic" required/>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
    
</html>