<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DirectShare</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <!-- Primary Meta Tags -->
    <title>DirectShare</title>
    <meta name="title" content="DirectShare">
    <meta name="description" content="With Direct Share, you can share your files Quick and Easy!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://directshare.herokuapp.com/">
    <meta property="og:title" content="DirectShare">
    <meta property="og:description" content="With Direct Share, you can share your files Quick and Easy!">
    <meta property="og:image" content="./public/Banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://directshare.herokuapp.com/">
    <meta property="twitter:title" content="DirectShare">
    <meta property="twitter:description" content="With Direct Share, you can share your files Quick and Easy!">
    <meta property="twitter:image" content="./public/Banner.png">
    <link rel="stylesheet" href="./views/index.css" />

    <style>
        input[type="file"] {
            display: none;
        }

        #link {
            display: block;
            border: 1px solid;
            border-radius: 20px;
            padding: 10px 0;
            width: 50%;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <a style="text-decoration: none;" href="/"><h1 id="heading">DirectShare</h1></a>
    <div class="center">
        <p style="display:flex;justify-content:center;align-items:center;flex-direction:column;width: 1200px;margin-top: 5%;">
            File uploaded, you may access your file from:
            <span class="my-3" onclick="copy()" id="link" page-link=<%- url %>>
                <%- url %>
                <br>
                <span id="copyInstructionLabel" class="text-white-50">Click to copy</span>
            </span>
            <a style="margin-top: 15px;" href="/"><button class="btn">Go back</button></a>
        </p>
    </div>
    <footer>
        <a href="info">Info</a>, 
        <a href="https://github.com/TheDuckDev/DirectShare" target="_blank">Github</a> | Made with &lt;3 from <a
            href="https://github.com/lines-of-codes/" target="_blank">LinesOfCodes</a> and <a
            href="https://github.com/TheDuckDev" target="_blank">Duckie</a>
    </footer>
    <script type="text/javascript">
        function copy() {
            navigator.clipboard.writeText(document.getElementById("link").getAttribute("page-link"));
            const copyInstructionLabel = document.getElementById("copyInstructionLabel");
            copyInstructionLabel.innerText = "Copied!";
            setTimeout(() => {
                copyInstructionLabel.innerText = "Click to copy";
            }, 2000);
        }
    </script>
</body>

</html>